<% layout('layouts/boilerplate') %>
<div class="main">
    <div class="body-grid">
        <div class="header">
            <h2>SCOTT COLLIER,</h2>
            <h2>WEB DEVELOPER</h2>
            <div class="header-underline"></div>
            <button id="about-button" class="about-button">About Me</button>
            <div id="about-text" class="about-text">
                <p>
                    Professional web developer with a keen interest in design
                    and problem solving. Formerly a fine dining chef of ten
                    years.
                </p>
                <p>
                    When I'm not writing code or building applications you'll
                    find me with a guitar, playing badminton or taking long
                    walks up in the hills with the dog.
                </p>
            </div>
        </div>
        <div class="main-body">
            <%- include('partials/projectOne') %> <%-
            include('partials/projectTwo') %> <%-
            include('partials/projectThree') %> <%-
            include('partials/projectFour') %>
        </div>
        <%- include("./partials/footer") %>
    </div>
</div>
